*{
  font-family: "raleway", sans-serif;
}

body {
  margin: 0;
  font-display: swap;
  font-family: "raleway",  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #f1b1bf;
  background: linear-gradient(
    358deg,
    rgba(241, 177, 191, 1) 0%,
    rgba(253, 213, 221, 1) 100%
  ); */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .span-gray {
    @apply inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2;
  }
}
